
body{
	background-color: #113A36;
}


.page{
	margin: auto;
	max-width: 2000px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;  
}

.navbar{
	background-color: #091E1B;
	color: white;
	text-align: center;
	height: 50px;

}


.navbar_block{
	
	display: inline-block;
	color: white;
	margin: 2px;
	cursor: pointer;
	width: 8%;
	text-align: center;
	max-width: 300px;
	mix-width: 200px;
}


.navbar_block: hover{
    color: #808080;
}


a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }



.content{
	height: 1500px;
}


.display{
	background-color: grey;
	height: 500px;
	max-height: 500px;
	position: relative;

}

.displayImage{
	z-index: 0;
	position: absolute;
}


.displayShadow{
	position: absolute;
	background-color: rgb(0,0,0,0.8);
	height: 500px;
	max-height: 500px;
	z-index: 3;
	width: 100%;
	transition: 2s;
	line-height: 500px;
	text-align: center;
	font-size: 150px;
	color: white;
}
.displayShadow:hover{
	background-color: rgb(0,0,0,0.5);
	color: rgb(0,0,0,0);
	font-size: 0px;
	color: lightgray;

}










.showProgress{
	margin-left: 10px;
	margin-top: 90px;
}

.progressbar {
    #background-color: #20201F;
    border-radius: 6px; /* (heightOfInnerDiv / 2) + padding */
    padding: 4px;
    width: 97%;
    text-align:right;
    color: white;
}


.progressbar2 {
    margin-top: 15px;
    #background-color: #20201F;                                   
    border-radius: 6px; /* (heightOfInnerDiv / 2) + padding */
    padding: 4px;
    width: 97%;
    text-align:right;
    color: white;
}



.progressbars {
    background-color: white;
    width: 97%;
    height: 2px;
    border-radius: 10px;
    text-align:center;
    color:black;
}

.progress {
    background-color: #0B2522;
    width: 0%; /* Adjust with JavaScript */
    height: 2px;
    border-radius: 10px;
    text-align:center;
}   



.displayLeft{
	float:left;
	color:black;
	width:50%;
	background-color: #1A5B55;
	box-shadow: 0 0 3px #000000;
	height: 500px;
}

.displayRight{
	height: 500px;
	float:left;
	width:50%;
	color:black;
	background-color: black;
	margin-left: 0px;
	box-shadow: 0 0 3px #000000;
}


.info{
	color: white;
	font-size: 30px;
}

.infoUsername{
	margin-left: 10px;
	margin-top: 10px;
	color: white;
	font-size: 30px;
}

.infoPoints{
	margin-left: 10px;
	color: white;
	font-size: 20px;
}

.otherInfo{
	margin-left: 10px;
	color: white;
	font-size: 15px;
	margin-top: 5px;
}