<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
	<title></title>
</head>

<body>



	
	

	<div class="page">

		<div class="navbar">
			<div class="navbar_block">
				<a href="/"> Home </a>
			</div>
			<div class="navbar_block">
				<a href="/game"> Game  </a>
			</div>
			<div class="navbar_block">
				Scoreboard
			</div>

			



		</div>



		<div class="content">
			<div class ="background" id="background">

			</div>

			<div class="displayUp">
				<div class="infoUsername">
					{{username}} <br>
				</div>
			</div>

			<div class="displayLeft">

				<div class="info">

					<div class="infoPoints">
						Points: {{points}} <br>
					</div>

					<div class="otherInfo">
						Scoreboard: N/A <br>
					</div>

					<div class="otherInfo">
						Rank: N/A <br>
					</div>

					<div class="otherInfo">
						Challenges Solved: {{solves_len}} <br>
					</div>

					<div class="otherInfo">
						Items: N/A <br>
					</div>

					<div class="otherInfo">
						Maps: N/A <br>
					</div>





				</div>




				<div class="showProgress">

					<div class="progressbar2">
						{{webSolves}}/{{maxWeb}}
						<span style="float: left">Web Security</span>
						<div class="progressbars">
							<div class="progress" id="web_progress">

							</div>
						</div>
					</div>

					<div class="progressbar">
						{{networkingSolves}}/{{maxNetworking}}
						<span style="float: left">Network Forensics</span>
						<div class="progressbars">
							<div class="progress" id="networking_progress">

							</div>
						</div>
					</div>

					<div class="progressbar">
						0/0
						<span style="float: left">Forensics</span>
						<div class="progressbars">
							<div class="progress" id="networking_progress">

							</div>
						</div>
					</div>


					<div class="progressbar">
						0/0
						<span style="float: left">Cryptography</span>
						<div class="progressbars">
							<div class="progress" id="networking_progress">

							</div>
						</div>
					</div>

					<div class="progressbar">
						0/0
						<span style="float: left">Steganography</span>
						<div class="progressbars">
							<div class="progress" id="networking_progress">

							</div>
						</div>
					</div>

					<div class="progressbar">
						0/0
						<span style="float: left">Reverse Engineering</span>
						<div class="progressbars">
							<div class="progress" id="networking_progress">

							</div>
						</div>
					</div>


					<div class="progressbar">
						0/0
						<span style="float: left">Pwn</span>
						<div class="progressbars">
							<div class="progress" id="networking_progress">

							</div>
						</div>
					</div>


				</div>


			</div>

			<div class="displayRight">
				

				<div class="infoSolves">
					Last solves: <br>
				</div>


				{%for i in range(0, solves_len)%}
					<div class="lastSolve">
						<div class="lastSolveName">
							{{solves[i].split("|")[0]}}  
						</div>
					
						<div class="lastSolveCategory">
							{{solves[i].split("|")[1]}}
						</div>

					</div>
  
				{%endfor%}




			</div>


		</div>
		


	</div>
</body>

</html>


<script>
	let num = {{webSolves}}/{{maxWeb}}*100;
	let text = num.toString()+"%";
	document.getElementById("web_progress").style.width = text;
	num = {{networkingSolves}}/{{maxNetworking}}*100;
	text = num.toString()+"%";
	document.getElementById("networking_progress").style.width = text;

</script>




<script>
	zeros = "";
	for (var i = 0; i < 9999; i++){
		zeros += (Math.floor(Math.random() * 10)%2).toString();
	}
	document.getElementById("background").innerHTML=zeros;
</script>