<html>
<head>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>


<body>
	<canvas id="canvas"></canvas>
	<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden="" id="PressMe">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="numeChallenge">Challenge</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
		<div class="modal-body">
			<h5>Categorie</h5>
			<p id="CategorieChallenge"> </p>
			<hr>
			<h5>Descriere</h5>
			<p id="DescriereChallenge"></p>
			<hr>
			<h5>Link</h5>
			<p id="LinkChallenge"> </p>

			<div class="input-group mb-3">
				<input type="text" id="Flag" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
			</div>
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="button" name = "" id="sendFlag" class="btn btn-dark" onclick="sendFlag()">Send</button>

		</div>


		</div>
	</div>
</div>


</body>


<script>

	function sendFlag(){
		var flag = "Flag="+document.getElementById("Flag").value;
		var challenge = "Name="+document.getElementById("numeChallenge").innerHTML;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var response = this.responseText;
				
			}
		};
		xhttp.open("POST", "/sendFlag", true);
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.send(flag+"&"+challenge);
	}

</script>



<script>
	function getInfo(ID) {
		var nume = "Challenge="+ID;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var response = this.responseText;
				var Name = response.split("|")[0]
				var Descriere = response.split("|")[1]
				var Location = response.split("|")[2]
				var Category = response.split("|")[3]
				document.getElementById("CategorieChallenge").innerHTML = Category;
				document.getElementById("numeChallenge").innerHTML = Name;
				document.getElementById("DescriereChallenge").innerHTML = Descriere;

				document.getElementById("LinkChallenge").innerHTML = "<a href=\""+Location+"\" class=\"link-dark\">HERE</a>";
				const button = document.querySelector('#PressMe');
				button.addEventListener('click', () => { ddoptinbox.openclose('open') });
				button.click();
			}
		};
		xhttp.open("POST", "/getInfo", true);
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.send(nume);
	}
	</script>


<script>


	window.onkeydown = function(e) { 
		return !(e.keyCode == 32 && e.target == document.body);
	}; 






	var position = 0;
	var state = 0;

    // The attributes of the player.
    var player = {
        x: 200,
        y: 200,
        x_v: 0,
        y_v: 0,
        jump : true,
        height: 38,
        width: 39
        };
    // The status of the arrow keys
    var keys = {
        right: false,
        left: false,
        up: false,
        };
    // The friction and gravity to show realistic movements    
    var gravity = 0.8;
    var friction = 0.7;
    // The number of platforms
    var num = 2;
    // The platforms
    var platforms = [];
    var CTFs = [];
    // Function to render the canvas
    function rendercanvas(){
    	const img = new Image();
		img.onload;
		img.src = './static/images/brick.png';
		var pat = ctx.createPattern(img, "repeat");
        ctx.fillStyle = pat;
        ctx.fillRect(0, 0, 2000, 2000);
    }
    // Function to render the player
    function renderplayer(){
    	/*
        const img2 = new Image();
		img2.onload;
		img2.src = './static/images/Player_standing.png';
		var pat2 = ctx.createPattern(img2, "no-repeat");
        ctx.fillStyle = pat2;
        */
        const img2 = new Image();
		img2.onload;
		if (state == 0 && position == 0)
			img2.src = './static/images/Player_standing_right_effects.png'
		if (state == 1 && position == 0)
			img2.src = './static/images/Player_running_right_effects.png'
		if (state == 0 && position == 1)
			img2.src = './static/images/Player_standing_left_effects.png'
		if (state == 1 && position == 1)
			img2.src = './static/images/Player_running_left_effects.png'
		img2.onload;
    	ctx.drawImage(img2, (player.x)-player.width, (player.y)-player.height-10);
        //ctx.fillRect((player.x)-player.width, (player.y)-player.height, player.width, player.height);
        }
    // Function to create platforms

    function addCTF(x,y,width,height){
		CTFs.push(
			{
			x: x,
			y: y,
			width: width,
			height: height
			}
		);

    }


    function addPlatforms(x,y,width,height){
		platforms.push(
			{
			x: x,
			y: y,
			width: width,
			height: height
			}
		);

    }

    function createplat(){





		//SCARI MIJLOC - STANGA - SUS
		// ----------------------------

		addCTF(1030,150,50,50);
		addPlatforms(1000,200,110,15);

		addCTF(1180,200,50,50);
		addPlatforms(1150,250,110,15);

		addCTF(1330,250,50,50);
		addPlatforms(1300,300,110,15);

		addCTF(1480,300,50,50);
		addPlatforms(1450,350,110,15);

		addCTF(1630,350,50,50);
		addPlatforms(1600,400,110,15);
		// ----------------------------



		//SCARI JOS - DREAPTA - SUS
		// ----------------------------

		addCTF(1780,400,50,50);
		addPlatforms(1750,450,110,15);

		addCTF(1630,450,50,50);
		addPlatforms(1600,500,110,15);

		addCTF(1480,500,50,50);
		addPlatforms(1450,550,110,15);

		addCTF(1330,550,50,50);
		addPlatforms(1300,600,110,15);

		addCTF(1180,600,50,50);
		addPlatforms(1150,650,110,15);

		addCTF(1030,650,50,50);
		addPlatforms(1000,700,110,15);

		addCTF(880,700,50,50);
		addPlatforms(850,750,110,15);

		addCTF(730,750,50,50);
		addPlatforms(700,800,110,15);
		// ----------------------------


		addPlatforms(250,850,450,15); // platforma jos stanga
		addPlatforms(0,0,2000,15);
		addPlatforms(100,930,110,15);
		addCTF(400,800,50,50);
		addCTF(500,800,50,50);



		addPlatforms(100,200,110,15); //platforma player
		addPlatforms(0,985,1700,100); //platforma etaj 0 
		addPlatforms(1800,985,200,100); //platforma etaj 0 
		addPlatforms(0,1900,2000,100); //platforma etaj 1


		

	}
    // Function to render platforms
    function renderplat(){
        ctx.fillStyle = "#000000";
		for (let i=0; i < platforms.length; i++) 
			ctx.fillRect(platforms[i].x, platforms[i].y, platforms[i].width, platforms[i].height);
			
		const img = new Image();
		img.onload;
		img.src = './static/images/challenge.png';
		for (let i=0; i < CTFs.length; i++) 
			ctx.drawImage(img, CTFs[i].x, CTFs[i].y,  CTFs[i].width, CTFs[i].height);
    
    }
    // This function will be called when a key on the keyboard is pressed
    function keydown(e) {
        // 37 is the code for the left arrow key
        if(e.keyCode == 65) {
            keys.left = true;
            state = 1;
            position = 1;

        }
        // 37 is the code for the up arrow key
        if(e.keyCode == 87) {
            if(player.jump == false) {
                player.y_v = -10;
            }
        }
        // 39 is the code for the right arrow key
        if(e.keyCode == 68) {
            keys.right = true;
            state = 1;
            position = 0;
        }
    }
	
	function startModal(e) {
        // 37 is the code for the left arrow key
        if(e.keyCode == 32) {
            getInfo(CTF);

        }
    }
	
    // This function is called when the pressed key is released
    function keyup(e) {
        if(e.keyCode == 65) {
            keys.left = false;
            state = 0;
            position = 1;
        }
        if(e.keyCode == 87) {
            if(player.y_v < -2) {
            player.y_v = -3;
            }
        }
        if(e.keyCode == 68) {
            keys.right = false;
            state = 0;
            position = 0;
        }
    } 
	let CTF = -1;
    function loop() {
        // If the player is not jumping apply the effect of frictiom
        if(player.jump == false) {
            player.x_v *= friction;
        } else {
            // If the player is in the air then apply the effect of gravity
			if (player.y_v <10)
				player.y_v += gravity;
			else
				player.y_v += 0.05
        }
        player.jump = true;
        // If the left key is pressed increase the relevant horizontal velocity
        if(keys.left) {
            player.x_v = -2.5;
        }
        if(keys.right) {
            player.x_v = 2.5;
        }
        // Updating the y and x coordinates of the player
        player.y += player.y_v;
        player.x += player.x_v;
        // A simple code that checks for collions with the platform
        let i = -1;
		CTF = -1;
		let allow = 0;
		for (let ii=0; ii < platforms.length; ii++) {
			if(platforms[ii].x < player.x && player.x < platforms[ii].x + platforms[ii].width+player.width &&
			platforms[ii].y < player.y && player.y < platforms[ii].y + platforms[ii].height){
				i = ii;
			}
		}
		
		
		for (let ii=0; ii < CTFs.length; ii++) {
			if(CTFs[ii].x < player.x && player.x < CTFs[ii].x + CTFs[ii].width+player.width &&
			CTFs[ii].y < player.y && player.y < CTFs[ii].y + 10 + CTFs[ii].height){
				CTF = ii;
			}
		}
		
		
		
        if (i > -1){
            player.jump = false;
            player.y = platforms[i].y;    
        }
		if (CTF > -1){
			document.addEventListener("keydown",startModal);
        }
		else{
			document.removeEventListener("keydown",startModal);
		}
		
        // Rendering the canvas, the player and the platforms
        rendercanvas();
        renderplat();
        renderplayer();
    }
    canvas=document.getElementById("canvas");
    ctx=canvas.getContext("2d");
    ctx.canvas.height = 2000;
    ctx.canvas.width = 2000;
    createplat();
    // Adding the event listeners 
    document.addEventListener("keydown",keydown);
    document.addEventListener("keyup",keyup);
    setInterval(loop,22);
</script>











</html>